form {
    margin-top: 45px;
    text-align: center;
}

.input-box {
    margin-bottom: 26px;

}

.input-box input {
    width: 225px;
    height: 50px;
    border-radius: 10px
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

h1 {
    text-shadow: 2px 2px 4px #000000;
}

button {
    width: 113px;
}