{% extends 'common_templates/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/style_customer_login.css' %}">
{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}

<section id="loginPage">

    <section class="login py-5" style="    margin-bottom: -48px;">
        <div class="container">
            <div class="row g-0" id="log">
                <div class="col-lg-5">
                    <img src="{% static 'images/cart1.webp' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 text-center py-5">
                    <h1>CUSTOMER LOGIN</h1>

                    <form>
                        <div class="form-row py-3 pt-5">
                            <div class="offset-1 col-lg-10">
                                <input type="email" class="inp px-3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-row py-3">
                            <div class="offset-1 col-lg-10">
                                <input type="password" class="inp px-3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-row py-3">
                            <div class="offset-1 col-lg-10">
                                <button class="btn"><a href="#">Login</a></button>
                            </div>
                        </div>
                        <a class="createAcc" href="">Forgot password</a>
                    </form>

                    <p class="question">Don't have an account?</p>
                    <a class="createAcc" href="{% url 'common:cus_register' %}">Create an account.</a>
                </div>
            </div>
        </div>
    </section>



    <!-- footer -->

    {% endblock %}