{% extends 'admin_app_templates/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/style_admin_home.css' %}">
{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}

<!-- header -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <img src="{% static 'images/favorites.png' %}" alt="">
                        <h5 class="card-title">Approve Seller</h5>

                        <button class="btn btn-success"><a href="">View</a></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/bussiness-man.png' %}" alt="">
                        <h5 class="card-title">View Seller</h5>

                        <button class="btn btn-success"><a href="">View</a></button>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/teamwork.png' %}" alt="">
                        <h5 class="card-title">View Customer</h5>

                        <button class="btn btn-success"><a href="">View</a></button>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/checkout.png' %}" alt="">
                        <h5 class="card-title">View Order</h5>

                        <button class="btn btn-success"><a href="">View</a></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/arrow.png' %}" alt="">
                        <h5 class="card-title">Recent</h5>

                        <button class="btn btn-success"><a href="">View</a></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/find.png' %}" alt="">
                        <h5 class="card-title">Card title</h5>

                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/fired.png' %}" alt="">
                        <h5 class="card-title">Card title</h5>

                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/rejection.png' %}" alt="">
                        <h5 class="card-title">Card title</h5>

                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/remove.png' %}" alt="">
                        <h5 class="card-title">Card title</h5>

                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>


<!-- footer -->

{% endblock %}