{% extends 'seller_app_templates/seller_home.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/style_cat.css' %}">
{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}

<div class="content">
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-12  col-md-6 col-lg-6 col-xl-4">
                    <div class="card">
                        <img src="{% static 'images/banner.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mobile</h5>
                            <p>Seller : Arun</p>
                            <p>Price : 200000</p>
                            <button value="button" class="btn btn-primary">Details</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12  col-md-6 col-lg-6 col-xl-4">
                    <div class="card">
                        <img src="{% static 'images/banner.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mobile</h5>
                            <p>Seller : Arun</p>
                            <p>Price : 200000</p>
                            <button value="button" class="btn btn-primary">Details</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12  col-md-6 col-lg-6 col-xl-4">
                    <div class="card">
                        <img src="{% static 'images/banner.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mobile</h5>
                            <p>Seller : Arun</p>
                            <p>Price : 200000</p>
                            <button value="button" class="btn btn-primary">Details</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12  col-md-6 col-lg-6 col-xl-4">
                    <div class="card">
                        <img src="{% static 'images/banner.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mobile</h5>
                            <p>Seller : Arun</p>
                            <p>Price : 200000</p>
                            <button value="button" class="btn btn-primary">Details</button>
                        </div>
                    </div>
                </div>

            </div>

            
        </div>
    </section>







</div>


{% endblock %}