{% extends 'seller_app_templates/seller_home.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/recent_order.css' %}">
<style>
    .status{
        color: red;
    }
    .id{
        color: blue;
    }
</style>
{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}

<section style="margin-top: 128px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">



                <div class="table-responsive-lg">
                    <div class="row">
                        <div class="col-6">
                            <h3 style="color: #fff;">Order History</h3>

                        </div>
                       

                    </div>


                    <table class="table">
                        <tr class="head">
                            <th>Sl.No</th>
                            <!-- <th>Product Image</th> -->
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Amount</th>

                            <th>Status</th>
                        </tr>
                        <tr class="content">
                            <td>1</td>
                            <!-- <td><img src="{% static 'images/banner.jpg' %}" alt=""
                                    style="    width: 80px;border-radius: 10px;border: 3px solid white;"></td> -->
                            <td class="id">Fg554545</td>
                            <td>21 Oct 2023</td>
                            <td>25000</td>
                            <td class="status">Finallized</td>

                            <!-- <td style="width: 0px;"><button type="button">View Details</button></td> -->
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}