{% extends 'seller_app_templates/seller_home.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/recent_order.css' %}">
{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}

<section style="margin-top: 128px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">



                <div class="table-responsive-lg">
                    <div class="row">
                        <div class="col-6">
                            <h3 style="color: #fff;">Recent Orders</h3>

                        </div>
                        <div class="col-6" style="text-align: right;">
                            <button type="button" class="btn btn-danger">Order History</button>
                        </div>

                    </div>


                    <table class="table">
                        <tr class="head">
                            <th>Sl.No</th>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Price</th>

                            <th>Action</th>
                        </tr>
                        <tr class="content">
                            <td>1</td>
                            <td><img src="{% static 'images/banner.jpg' %}" alt=""
                                    style="    width: 80px;border-radius: 10px;border: 3px solid white;"></td>
                            <td>Akshay</td>
                            <td>500</td>

                            <td style="width: 0px;"><button type="button">View Details</button></td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}